
<div class="jumbotron">
  <h2>I Want To Go To There</h2> 
  <h3>New to town? <br /> Keep all of your recommendations in one place</h3>
</div>


<h1>Restaurants</h1>

<!-- <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%# @restaurants.each do |restaurant| %>
      <tr>
        <td><%#= image_tag restaurant.image.thumb.url %></td>
        <td><%#= restaurant.name %></td>
        <td><%#= restaurant.address %></td>
        <td><%#= restaurant.phone %></td>
        <td><%#= restaurant.website %></td>
        <td><%#= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
        <td><%#= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

<div id="restaurants">
  <%= render @restaurants %>
</div>
<div class="clear"></div>

<% if user_signed_in? && current_user.admin? %>
  <%= form_for Restaurant.new do |f| %>
    <%= f.label :image, "Upload restaurants:" %>
    <%= f.file_field :image, multiple: true, name: "restaurant[image]" %>
  <% end %>

  <br>
  <%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-default" %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

