<div class="row">
	<div class="col-md-6 col-md-offset-3 center">
		<%= link_to image_tag(@restaurant.image.detail.url.to_s), @restaurant.image.detail.url %>

		<h1>
		  <%= @restaurant.name %>
		</h1>

		<p>
		  <strong>Address:</strong>
		  <%= @restaurant.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @restaurant.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
		  <%= link_to @restaurant.website, @restaurant.website if @restaurant.website %>
		</p>

		<%= link_to 'Write a Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
		<br />
		<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
		<%= link_to 'Home', restaurants_path, class: "btn btn-link" %>

		<% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to write one!</h3>
     <% else %>
			<h3>Reviews</h3>
			<% @reviews.each do |review| %>
			  <p><%= review.rating %> <%= review.comment %></p>
			<% end %>
		<% end %>
	</div>
</div>