<div class="row">
	<div class="col-md-6 col-md-offset-3 center">
		<%= link_to image_tag(@restaurant.image.detail.url.to_s), @restaurant.image.detail.url %>

		<p>
		  <strong>Name:</strong>
		  <%= @restaurant.name %>
		</p>

		<p>
		  <strong>Address:</strong>
		  <%= @restaurant.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @restaurant.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
		  <%= @restaurant.website %>
		</p>

		<%= link_to 'Write a Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %><br />
		<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
		<%= link_to 'Home', restaurants_path, class: "btn btn-link" %>
	</div>
</div>